:host {
    --size: 7.5rem;
    --bar-width: 0.75rem;

    --fill-color: #005dff;
    --rest-color: #eef3f6;

    --rotate-duration: 3s;
}

.progress {
    --donat-width: calc(100% - max(0.125rem, var(--bar-width, 0.75rem)));
    --donat-mask: radial-gradient(
        farthest-side,
        transparent var(--donat-width),
        #fff var(--donat-width)
    );

    display: grid;
    place-items: center;
    width: max(0px, var(--size, 7.5rem));
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: conic-gradient(
        var(--fill-color, #005dff) var(--progress-value, 0),
        var(--rest-color, #eef3f6) var(--progress-value, 0)
    );
    -webkit-mask: var(--donat-mask);
            mask: var(--donat-mask);

    animation: var(--rotate-duration, 3s) linear infinite paused rotate;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}