:host {
    --size: 7.5rem;
    --bar-width: 0.75rem;

    --fill-color: #005dff;
    --rest-color: #eef3f6;
}

.progress {
    --donat-mask: radial-gradient(
        farthest-side,
        transparent calc(100% - var(--bar-width)),
        #fff calc(100% - var(--bar-width) + 1px)
    );

    display: grid;
    place-items: center;
    width: var(--size);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: conic-gradient(
        var(--fill-color) var(--progress-value, 0),
        var(--rest-color) var(--progress-value, 0)
    );
    -webkit-mask: var(--donat-mask);
            mask: var(--donat-mask);

    /* Used when animation launched */
    /* animation: 3s linear infinite rotate; */
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}